*{
    margin: 0;
    padding: 0;

}
body{
    min-height: 100vh;
}
.cajitaHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 23vh;
    border-bottom: 4px solid rgba(103, 132, 194, 0.89);
}

.menu{
    padding-left: 5vw;
    margin-right: 2vw;
}
.menu .Nav {
    display: flex;
    justify-content: space-around;
    width: 15vw;
    background-color: rgb(30, 255, 0);
    font-size: 2vw;
}
.letraRoja {
    color: red;
}
.contenedorGeneral{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url("./assets/fondoGrande.jpg");
    background-size: 100vw 100vh;
    background-attachment: fixed;
}
.contenedorGeneral div{
    margin-top: 2vh;
}
.primero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/LogoIntinerary.jpg");
    background-size: 44vh;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0.8vh;
    margin-right: 2.5vw;
    margin-left: -8vw;
    height: 21vh;
    width: 40vw;

}
.segundo{
    margin-top: 50vh;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    color: whitesmoke;
    align-items: flex-end;
    background-image: url("./assets/posibleFoto.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 100vh;
    width: 81vw;
}
.tercero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 126, 105);
    height: 30vh;
    width: 20vw;
    margin-bottom: 3vh;
}
 footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    height: 20vh;
    font-size: 1.4vw;
    font-weight: bold;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    background-image: url("./assets/croacia.jpg");
}
.cajaFooter{
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 24, 22, 0.473) ;
}
.cajaFooter p{
    text-decoration: none;
    color: white;
}
.textoFooter{
    text-decoration: none;
}
.textoFooter:hover{
    text-decoration: none;
}
.avatar {
    background-image: url("./assets/icono2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12vh;
    height: 20vh;
    width: 20vw;
}
.carrusel{
    margin-bottom: 6vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.carrusel .slide{
    width: 100vw;
}
.pruebita{
    text-align: center;
}
.hero{
    margin-top: -0.0005vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/imagengrande5.jpg"); 
    background-size:cover ;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    margin-bottom: 5vh;
}
.cajaimagen{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 10vw;
    height: 100%;
    margin-right: 1.5vw; 
}
.cajaimagen button {
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-size: 1.5vw;
}
.cajaimgGrande{
    margin-right: 4vw;
    padding-top: 1vh;
    display: flex;
    align-items:center;
    justify-content: flex-end;
    height: 80vh;
    width: 20vw;
    background-color: rgba(39, 24, 22, 0.493);
    margin-bottom: 8vh;
    border-radius: 10px;
    text-align: right;
}
li a {
    color: rgba(221, 107, 87, 0.733)!important;
    border: 3px solid  rgba(221, 107, 87, 0.733);
    border-radius: 5px;
    margin-right: 2vw;
    font-weight: bold;
    font-size: 1.3vw;
    font-family: 'Titillium Web', sans-serif;
    padding-left: 0.8vw ; 
    padding-right: 0.8vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    text-align: center;
    text-decoration: none;    
}

li a:hover{
    border:3px solid rgba(103, 132, 194, 0.89);
    color: rgba(103, 132, 194, 0.89)!important;
    border-radius: 5px;
    font-size: 1.3vw;
    text-decoration: none;
}
.cajaDerecha{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    padding-left: 7vw;
}
.discover{
    color: whitesmoke;
    background-color: rgba(221, 107, 87, 0.733);
    border: 2px solid  rgba(221, 107, 87, 0.733);
}
.discover:hover{
  
    color: whitesmoke;
    border-color: rgba(103, 132, 194, 0.89);
    background-color: rgba(103, 132, 194, 0.89);
}
.imagenesCarrusel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2vh;
    padding-right: 0.5vw;
}
.imagenCarrusel{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48.8vh !important;
    width: 40vw !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 2px 2px 8px black;
    margin-left: 1vw; 
    transition: 0.3s ease;   
}
.imagenCarrusel:hover{
    box-shadow: 7px 7px 15px black;
    transform: scale(1.03);
}
.carousel-control-next-icon{
    margin-left: 2vw !important;
}
.tituloCarrusel{
    color: whitesmoke;
    background-color:rgba(103, 132, 194, 0.795);
    width: 81vw;
    padding-top: 2vh;
    padding-bottom: 1vh;
    text-align: center;
    border-radius: 10px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 2.5vw !important;
    margin-top: 12vh !important;
    margin-bottom: -9vh!important;
}
.contenedorFrases {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 60vh;
    margin-bottom: 5vh;
    color: whitesmoke;
    background-color: rgb(247, 241, 241);
    margin-bottom: 7vh!important;
}
.frases1{
    display: flex;
    align-items: center;
    background-color:  rgba(231, 214, 60, 0.918);
    justify-content: center;
    height: 12vh;
    width: 75%;
    font-size: 2.1vw;
    border-radius:0px 30px 30px 0px;
    font-weight: bold;
    font-family: 'Source Code Pro', monospace;
    margin-top: -3vh!important;
}
.frases2{
    align-self: flex-end;
    display: flex;
    align-items: center;
    height: 12vh;
    justify-content: center;
    width: 75%;
    border-radius:30px 0px 0px 30px;
    background-color: rgba(255, 61, 61, 0.918);
    font-size: 2vw;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
}
.frases3{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 12vh;
    border-radius:0px 30px 30px 0px;
    background-color: rgba(57, 226, 198, 0.925);
    width: 75%;
    font-size: 2vw;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
}
.frases4{
    align-self: flex-end;
    display: flex;
    align-items: center;
    height: 12vh;
    border-radius:30px 0px 0px 30px;
    justify-content: center;
    width: 75%;
    background-color: rgba(245, 151, 75, 0.849);
    font-size: 1.9vw;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    font-weight: bold;
    margin-bottom: -3vh;
}
.nombreCiudad {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(221, 107, 87, 0.356);
    width: 100%;
    text-align: center;
    height: 10vh;
    font-size: 2vw;
    font-weight: bold;
}
.cajaCities{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    font-size: 5vw;
    padding-top: 4vh;
    width: 100%;
    height: 100%;
}
.cajaCiudad{
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80vw;
    height: 40vh;
    margin-bottom: 5vh;
    text-decoration: none;
    border-radius: 15px;
    box-shadow: 2px 2px 8px black;
    color: white;
    font-size: 3vw;
    transition: 0.3s ease;
}
.cajaCiudad p{
    width: 100%;
    background-color: rgb(221, 107, 87, 0.356);
    font-weight: bold;
}
.cajaCiudad:hover{
    box-shadow: 8px 8px 20px black;
    transform: scale(1.05);
}
.cajaCities a:hover{
    text-decoration: none;
}
input{
    margin-bottom: 6vh;
    font-size: 1.8vw;
    font-weight: bold;
    width: 80vw;
    height: 5vh;
    text-align: center;
    border: none;
    border-bottom: 3px solid black;

}
.cajaCiudad .notFound{
    background-color: white;
    color: black!important;
    font-size: 5vh;
    font-family: 'Titillium Web', sans-serif;
}

.cajaItineraries{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    font-size: 5vw;
    width: 100%;
    min-height: 100vh;
}
.cajaItinerarie{
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 30vh;
    margin-bottom: 7vh;
    text-decoration: none;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 7px 7px 15px black;
    color: white;
    font-size: 3vw;
}
.cajaItinerarie p{
    width: 100%;
    background-color: rgb(221, 107, 87, 0.356);
    font-weight: bold;
}
.itinerary{
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    width: 80vw;
    height: 50vh;
    margin-bottom: 3vh;
    text-decoration: none;
    border-radius: 15px;
    box-shadow: 2px 2px 8px black;
    font-size: 3vw;
}
.notItinerary{
    background-color: white;
    color: black!important;
    font-size: 5vh;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
    width: 100%;
}
.cajaItinerary{
    display: flex;
    justify-content: center;
    width: 80%;
}
.cajaBack{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 60vw;
    padding-right: 10vw;
    padding-left: 10vw;
}
.cajaImagen{
    width:30vw;
    margin-right: 10vw;
}
.backToCities{
    text-decoration: none;
    position: absolute;
    border-radius: 20px;
    background-color: rgba(231, 145, 114, 0.836);
    font-size: 2vw;
    font-weight: bold;
    margin-top:4vh;
    margin-left: 15vw;
    padding: 1vw;
    color: whitesmoke;
}
.tituloCities{
   font-family: 'Titillium Web', sans-serif;
    font-size: 4vw;
    font-weight: bold;
    margin-bottom: 4vh;
    margin-top: -2vh;
}
.cajaSpinner{
    height: 100vh;
    width: 100vw;
    position: relative;
}
.cajitaSpinner{
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform:translate(-50%,-50%);
}
.spinner{
    width: 100px!important;
    height: 100px!important;
    border:10px solid currentColor!important;
    border-right-color: transparent!important;
    color:rgb(231, 145, 114)!important;
}
.backToHome{
    text-decoration: none;
    position: absolute;
    border-radius: 20px;
    background-color: rgba(231, 145, 114, 0.836);
    font-size: 2vw;
    font-weight: bold;
    margin-top:2vh;
    margin-left: 15vw;
    padding: 1vw;
    color: whitesmoke;
}
.cajaHome{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 45vw;
    padding-right: 10vw;
    padding-left: 10vw;
}
.cadaItinerary {
    display: flex;
    align-items: center;
    /* background-color: rgb(0, 247, 255); */
    justify-content: center;
    width: 80vw;
    /* height: 60vh; */
    margin-bottom: 4vh;
    text-decoration: none;
    border-radius: 15px;
    box-shadow: 2px 2px 8px black;
    font-size: 3vw;
    background-image: url("./assets/fotoGrande2.jpg");
    background-size: 80vw 60vh;
    background-repeat: no-repeat;
}
.userItinerary{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: lightcyan; */
    width: 30vw;
    height: 40vh;
}
.bodyItinerary{
    /* background-color: lightcoral; */
    width: 60vw;
    margin-right: 1vw;
}
.titulito{
    font-size: 2.9vw;
    margin-top: 2vh;
    color: rgb(32, 83, 107);
    /* color: green!important; */
    font-weight: bold;
}
.parrafosItinerary{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3vh;
    padding-top: 1vh;
  /*   background-color: lightseagreen; */
}
.cajaHashtags{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    /* background-color: greenyellow; */
    padding-top: 1vh;
    margin-top: 2vh;
}
.corazon{
    color:red;
    font-size: 1.7vw;
}
.billete{
    color: green;
    margin-left: 0.8vw;
}
.duracion{
    font-size: 2vw;
    font-weight: bold;
    color: rgb(35, 117, 155);
    /* color: greenyellow; */
}
.likes{
    font-size: 2vw;
    font-weight: bold;
    /* background-color: khaki; */
}
.hashtag{
    margin-top: 1vh;
    /* margin-left: 2.5vw; */
    color: rgb(24, 73, 179);
    font-size: 2vw;
    font-weight: bold;
}
.botonItinerary{
    width: 10vw;
}
.userImg{
    height: 30vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: lightskyblue; */
}
.userName{
    font-size: 2vw;
    font-weight: bold;
    color: rgba(231, 145, 114, 0.979);
}
